<!doctype html>
<html lang="en">

<head>
<title>Quản lý nhân viên</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
	integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
	crossorigin="anonymous">
<link rel="stylesheet" href="/css/manage-staff.css">
</head>

<body>
	<div th:replace="navbar :: staff"></div>
	<div class="wrap" id="employee-wrap">
		<form th:action="@{/manage-staff/search}" class="employee__form-search"
			method="get">
			<input type="text" name="name" class="form-control"
				placeholder="Tên nhân viên">
			<button type="submit" class="btn btn-primary btn-search">
				<i class="fas fa-search"></i>
			</button>
		</form>
		<h3>Danh sách nhân viên</h3>
		<table
			class="table table-bordered table-hover employee__table-list table-list">
			<thead class="thead-dark">
				<tr>
					<th scope="col" class="text-center">#</th>
					<th scope="col" class="text-center">Họ tên</th>
					<th scope="col" class="text-center">Ngày sinh</th>
					<th scope="col" class="text-center">Giới tính</th>
					<th scope="col" class="text-center">Địa chỉ</th>
					<th scope="col" class="text-center">Email</th>
					<th scope="col" class="text-center">Vị trí</th>
					<th scope="col" class="text-center">Phòng ban</th>
					<th scope="col" class="text-center">Action</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:unless="${#lists.isEmpty(session.listTv)}">
					<tr th:each="tv, iStat : ${session.listTv}">
						<th scope="row" class="text-center" th:text="${tv.id}"></th>
						<td th:text="${tv.hoTen}"></td>
						<td th:text="${#dates.format(tv.ngaySinh, 'yyyy-MM-dd')}"></td>
						<td th:text="${tv.gioiTinh}"></td>
						<td th:text="${tv.diaChi}"></td>
						<td th:text="${tv.email}"></td>
						<td th:text="${tv.viTri}"></td>
						<td th:text="${tv.pb.tenPb}"></td>
						<td class="text-center">
	                       <a th:href="@{/manage-staff/edit/nameTv={nameTv}/indexTv={indexTv}(nameTv=${session.nameTv}, indexTv=${iStat.index})}"><i class="fas fa-pen" style="color: green"></i></a>
	                       <a th:href="@{/manage-staff/delete/nameTv={nameTv}/indexTv={indexTv}(nameTv=${session.nameTv}, indexTv=${iStat.index})}"><i class="fas fa-trash-alt" style="color: red"></i></a>
	                   </td>
					</tr>
				</th:block>
			</tbody>
		</table>
	</div>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>