<!doctype html>
<html lang="en">

<head>
    <title>Thông tin hợp đồng</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
        integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/view-contract.css">
</head>

<body>
	<div th:replace="navbar :: contract"></div>
	<br>
    <div class="alert alert-success text-center" role="alert">Tạo hợp đồng thành công!</div>
    <br>
    <div class="wrap" id="contract-wrap">
        <h3>Thông tin hợp đồng</h3>
        <table class="table table-bordered table-hover employee__table-list table-list">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col" class="text-center">Họ tên</th>
                    <th scope="col" class="text-center">Ngày sinh</th>
                    <th scope="col" class="text-center">Giới tính</th>
                    <th scope="col" class="text-center">Địa chỉ</th>
                    <th scope="col" class="text-center">Email</th>
                    <th scope="col" class="text-center">Vị trí</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" class="text-center" th:text="${hd.nv.id}"></th>
                    <td th:text="${hd.nv.hoTen}"></td>
                    <td th:text="${#dates.format(hd.nv.ngaySinh, 'yyyy-MM-dd')}"></td>
                    <td th:text="${hd.nv.gioiTinh}"></td>
                    <td th:text="${hd.nv.diaChi}"></td>
                    <td th:text="${hd.nv.email}"></td>
                    <td th:text="${hd.nv.viTri}"></td>
                </tr>
            </tbody>
        </table>
        <div class="contract__select-salary">
            <h4>Lương cơ bản: </h4>
            <input type=text class="form-control" th:value="${hd.luong.mucLuong}" disabled>
        </div>
        <div class="contract__select-allowance">
            <h4>Phụ cấp:</h4>
            <table class="table table-bordered table-hover allowance__table-list table-list">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="text-center">#</th>
                        <th scope="col" class="text-center">Tên</th>
                        <th scope="col" class="text-center">Mức phụ cấp</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="pc : ${listSelectedPc}">
                        <th scope="row" class="text-center" th:text="${pc.id}"></th>
                        <td th:text="${pc.tenPc}"></td>
                        <td th:text="${pc.mucPc}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="contract__enter-info">
            <h4>Thời hạn (năm):</h4>
            <input type="text" name="" id="" th:value="${hd.thoiHan}" class="form-control" disabled>
        </div>
        <div class="contract__enter-info">
            <h4>Ngày ký:</h4>
            <input type="text" name="" id="" th:value="${#dates.format(hd.ngayKy, 'yyyy-MM-dd')}" class="form-control" disabled>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>