*{
    box-sizing: inherit;
}
html{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
}
.department-edit{
    width: 250px;
    height: 135px;
    border: 1px solid rgb(199, 197, 197);
    border-radius: 2px;
    padding: 10px 20px;
    margin: 100px auto;
}
.department-edit label{
    font-size: 1.6rem;
}
#name-depart{
    font-size: 1.6rem;
}
.department-edit .btn-submit{
    display: block;
    margin: auto;
    width: 100%;
    font-size: 1.6rem;
}